@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
.top {
    background-color: black;
    background-size: cover;
    color: white;
    width: 100%;
    height: 38px;
    background-repeat: no-repeat;
}

.top p {
    padding-top: 10px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.link {
    color: white;
}

.top-menu {
    margin: 0 5%; 
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.d-flex i {
    margin: 10px;
}

input.form-control {
    padding: 6px 10rem;

}

button.btn {
    padding: 0%;
}

.find-cloths {
    background-color: rgb(241, 239, 238);
    max-width: 100%;
    overflow-x: hidden;
    height: 31rem;
    display: flex;
    justify-content: space-around;
}

.find-cloths h2 {
    padding: 64px 0 0 96px;
    font-weight: 700;
    font-size: 64px;
    font-style: bold;
    line-height: 64px;
    letter-spacing: 0%;
}

.find-cloths p {
    padding-left: 96px;
    color: rgb(178, 179, 180);
    font-size: 16px;
}

.find-cloths a {
    margin-left: 100px;
    border-radius: 50px;
    width: 150px;
}

.international {
    display: flex;
}

.find-cloths h3 {
    padding: 14px 0 0 96px;
    font-weight: 700;
    font-size: 34px;
    font-style: bold;
    margin: 0;
    letter-spacing: 0%;
}

.find-cloths p1 {
    padding-left: 15px;
    color: rgb(178, 179, 180);
    font-size: 14px;
}

.international p {
    color: rgb(178, 179, 180);
    font-size: 14px;
}

.international h3 {
    padding-left: 15px;
}

.inter h3 {
    padding-left: 96px;
}

.find-cloths img {
    width: 500px;
    height: 497px;
}

.brands {
    background-color: black;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.brand1 {
    display: flex;
    justify-content: space-around;
}

.brand1 img {
    width: 200px;
    padding: 10px 46px;
}

.brand2 {
    display: flex;
    justify-content: space-around;
}

.brand2 img {
    width: 250px;
    padding: 10px 46px;
}

.new h2 {
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    font-style: bold;
    font-size: 34px;
}

.stars {
    background: linear-gradient(#d4af37, #ffd700, #b8860b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.box {
    border-bottom: 1px solid rgb(205, 203, 203);
    height: auto;
    margin: 15px 0;
}

.box1 {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.boxx {
    gap: 70px;
    display: flex;
    justify-content: space-around;
}

.rank {
    display: flex;
}

.rank p {
    font-size: 15px;
    font-weight: bold;
}

.box1 img {
    width: auto;
}

.box p4 {
    color: rgb(205, 205, 206);
    margin-left: 5px;
}

.view-btn {
    text-align: center;
    margin: 30px 0;
}

.view-all-btn {
    padding: 5px 40px;
    border: 2px solid #dcdcdc;
    background: transparent;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-all-btn:hover {
    border-color: #000;
}

.box2 {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.box2 img {
    width: auto;
}

.dress-style {
    background-color: rgba(240, 240, 240, 1);
    border-bottom: 1px solid rgb(205, 203, 203);
    height: auto;
    margin: 15px 96px;
    padding: 50px 0;
    border-radius: 20px;
}

.dress-style h2 {
    text-align: center;
    font-weight: 700;
    font-style: bold;
    font-size: 34px;
}

.sml1 {
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.large-box {
    justify-content: center;
}

.large-box h3 {
    padding: 10px;
    font-weight: bold;
}

.sml1 img {
    width: 150px;
    height: 200px;
}

.lrg1 {
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.dress-box1 {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.our {
    height: 21rem;
    margin: 15px 96px;
    padding: 50px 0;
    border-radius: 20px;
}

.our h2 {
    font-weight: 700;
    font-style: bold;
    font-size: 34px;
}

.card1 {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.card h6 {
    font-size: 15px;
}

.card p {
    font-size: 10px;
    color: #868585;
}

.stay {
    background-color: rgb(7, 7, 7);
    border-bottom: 1px solid rgb(205, 203, 203);
    height: auto;
    padding: 17px 45px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.stay h2 {
    color: white;
    font-weight: bold;
}

.bottom1 {
    background-color: rgb(241, 239, 238);
    height: auto;
}

.bottom {
    padding: 8rem 6rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(205, 203, 203);
}

.logo h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bottom p1 {
    font-size: 15px;
    color: #868585;
}

.logo a {
    margin-top: 15px;
}

.company a {
    text-decoration: none;
    color: #868585;
}

.comp1 {
    display: flex;
    gap: 100px;
}

.company ul {
    font-size: 18px;
    margin-top: 16px;
    padding: 0;
}

.company ul a:hover {
    color: #343434;
}

.payment {
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
}

.payment a {
    text-decoration: none;
}

.all {
    padding-top: 10px;
}

@media (max-width: 768px) {
    .find-cloths {
        display: inline;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .find-cloths h2 {
        padding: 0;
    }

    .find-cloths p {
        padding: 0;
    }

    .find-cloths a {
        margin: 0;
        width: 70%;
    }

    .find-cloths img {
        width: 100%;
        height: auto;
    }

    .international {
        justify-content: space-evenly;
    }

    .international h3 {
        padding: 0;
    }

    .brands {
        display: inline-block;
    }


    .box1 {
        display: inline;
        justify-content: space-between;
    }

    .boxx img {
        width: 170px;
    }

    .boxx p1,
    p,
    p3,
    p4,
    span {
        font-size: 13px;
    }

    .boxx {
        gap: 5px;
        margin: 10px 0;
    }

    .box2 {
        display: inline;
        justify-content: space-between;
    }

    .view-all-btn {
        width: 80%;
    }

    .dress-style {
        margin: 20px;
    }

    .dress-box1 {
        display: inline;
        justify-items: center;
        margin: 0;

    }

    .sml1 {
        width: 500px;
        height: 200px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .large-box {
        display: grid;
    }

    .lrg1 {
        margin-bottom: 20px;
    }

    .card1 {
        display: grid;
    }

    .card2 {
        display: none;
    }

    .stay {
        display: inline-block;
    }

    .bottom1 {
        margin-top: 150px;
    }

    .bottom {
        margin-top: 80px;
        display: inline-block;
        flex: none;
    }

    .logo {
        text-align: center;

    }

    .logo .d-flex {
        padding-left: 110px;
    }

    .comp1 {
        padding-top: 50px;
        justify-content: center;
    }

    .payment {
        display: inline;
        text-align: center;
    }

    .all {
        padding-bottom: 20px;
    }
    
}

@media (max-width: 600px) {
    .find-cloths h2 {
        padding: 0;
        text-align: center;
        font-size: 44px;
        line-height: 44px;
    }

    .find-cloths p1 {
        padding-left: 0;
        text-align: center;
        font-size: 12px;
    }

    .find-cloths p {
        font-size: 12px;
    }

    .brand1 img {
        width: 160px;
        overflow: hidden;
    }

    .brand2 img {
        width: 190px;
    }

    .sml1 {
        width: 350px;
    }

    .lrg1 {
        width: 350px;
    }

    .our h2 {
        font-size: 22px;
        padding-left: 80px;
    }

    .our {
        margin: 0;

    }

    .stay {
        width: 80%;
        margin-left: 50px;
        display: inline-block;
    }

    .stay h2 {
        padding: 0;
    }

    .bottom {
        margin: 0;
        padding: 150px 0 0 0;
    }

    .bottom1 {
        margin-top: 35px;
    }

    .logo .d-flex {
        padding-left: 120px;
    }

    .comp1 {
        gap: 80px;
    }
}


@media (max-width: 768px) {
    .top-menu {
        margin: 0 2%;
    }
    .find-cloths h2 {
        font-size: 32px;
        padding: 32px 0 0 48px;
    }
    .find-cloths p {
        padding-left: 48px;
    }
}